/* ---------- COLOR VARIABLES ---------- */

$primary-color: #58e1c1;
$white: #fff;
$text-color: #777;
$link-color: #51ddfc;
$error-color: #e4757a;
$info-color: #927bc1;
$success-color: #63cc82;
$warning-color: #fd7856;

/* ---------- BREAKPOINT VARIABLES ---------- */

$lg-breakpoint: 1040px;
$md-breakpoint: 768px;
$sm-breakpoint: 320px;

/* ---------- TYPOGRAPHY VARIABLES ---------- */

$primary-font: 'Lato', sans-serif;
